@font-face {
  font-family: 'Raleway';
  /* Имя шрифта */
  src: url(../font/Raleway-Black.ttf);
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: 'Bringin';
  src: url(../font/Bringin/Bringin.eot);
  src: url(../font/Bringin/Bringin.woff2) format('woff2'), url(../font/Bringin/Bringin.woff) format('woff'), url(../font/Bringin/Bringin.ttf) format('truetype'), url(../font/Bringin/Bringin.svg#Bringin) format('svg'), url(../font/Bringin/Bringin.eot?#iefix) format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
#toTop {
  width: 100px;
  border: 2px solid #f500c4;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: #f500c4;
  background: -webkit-gradient(linear, left top, left bottom, from(#0bc408), to(#09a206));
  background: -webkit-linear-gradient(top, #0bc408 0%, #09a206 100%);
  background: -o-linear-gradient(top, #0bc408 0%, #09a206 100%);
  background: linear-gradient(to bottom, #0bc408 0%, #09a206 100%);
  border-top: 1px solid #87c286;
  border-right: 1px solid #0e780c;
  border-left: 1px solid #0e780c;
  border-bottom: 1px solid #0e780c;
  -webkit-box-shadow: 0 -1px 0 #0e780c, 0 1px 0 #fff;
          box-shadow: 0 -1px 0 #0e780c, 0 1px 0 #fff;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 30px;
  /* отступ кнопки от нижнего края страницы */
  right: 40px;
  cursor: pointer;
  display: none;
  color: #333;
  font-family: verdana bold;
  font-size: 15px;
}
.nav_up {
  padding: 7px;
  background-color: white;
  border: 1px solid #CCC;
  position: fixed;
  background: transparent url(../images/arrow_up.png) no-repeat top left;
  background-position: 50% 50%;
  width: 20px;
  height: 20px;
  bottom: 10px;
  opacity: 0.7;
  left: 30px;
  white-space: nowrap;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.nav_down {
  padding: 7px;
  background-color: white;
  border: 1px solid #CCC;
  position: fixed;
  background: transparent url(../images/arrow_down.png) no-repeat top left;
  background-position: 50% 50%;
  width: 20px;
  height: 20px;
  bottom: 10px;
  opacity: 0.7;
  left: 70px;
  white-space: nowrap;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
